<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userQrCode">
            <h2><span jhiTranslate="bildwerkQrApp.userQrCode.detail.title">User Qr Code</span> {{ userQrCode.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bildwerkQrApp.userQrCode.code">Code</span></dt>
                <dd>
                    <span>{{ userQrCode.code }}</span>
                </dd>
                <dt><span jhiTranslate="bildwerkQrApp.userQrCode.user">User</span></dt>
                <dd>
                    {{ userQrCode.user?.id }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-qr-code', userQrCode.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
